/* src/app/globals.css */

/* Tailwind CSS base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root custom properties */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode custom properties */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Body styles */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Utility classes */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles */
.container {
  text-align: center;
}

.title {
  @apply text-3xl mb-4 text-gray-800; /* Tailwind utility classes */
}

.location {
  @apply text-2xl text-gray-700; /* Tailwind utility classes */
}

.label {
  @apply font-bold;
}

.value {
  @apply text-2xl text-black;
}

.error {
  @apply text-red-600 text-xl; /* Tailwind utility classes */
}
